<%- include("partials/header")%>
    <%- include("partials/nav")%>
        <!--  -->
        <div">
            <h1 class="text-5xl">Homepage</h1>
            <a href="/user/signin">Get Start</a>
            </div>

            <!--  -->
            <%- include("partials/footer")%>